h1 {
    font-size: 48px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

a{
    color: inherit; 
    text-decoration: none;
}
.home {
    height: 100vh; 
    display: flex; /* Use flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.akad, .donasi, .shareloc, .barang {
    padding-top: 1rem;
    padding-bottom: 10vh;
    height: 80vh;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */

}



.needs {

    padding-bottom: 2rem;
}

.fee-fitur {

    padding-bottom: 1.5rem;
}

.cta {
    background-color: #fce9d8;
    height: 100vh; /* Set the height to 100% of the viewport height */
    display: flex; /* Use flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */

}

@media (max-width: 767.98px) {
    /* Center the content vertically and horizontally */
    #home,
    #teach,
    #fee-fitur,
    #cta {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 50vh;
    }

    h1, h2, h3, h4, p {
        text-align: center;
    }

    iframe {
        height: 10;
    }

    .barang {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
  }